<a href="https://colab.research.google.com/github/PJHSE/Learning/blob/main/20220225.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

immutable vs Mutable

Immutable(변하지 않는 것), [정수, 실수, 문자열, 튜플]

a=1
def vartest(a):
  a = a + 1

vartest(a)
print(a)  , a값은 변하지 않음

Mutable (변할 수 있는 것), [리스트, 딕셔너리, 집합]

b = [1,2,3]
def vartest2(b):
  b = b.append(4)

vartest(b)
print(b)

클래스

함수를 여러번 쓰는 수고를 덜기 위한, 반복되는 변수와 메서드를 줄여서 쓰는.

In [47]:
class Calculator:
  def _init_(self):
    self.result=0

  def add(self,num):
      self.result =+ num
      return self.result

cal1 = Calculator()
cal2 = Calculator()

print(cal1.add(3))

3

In [52]:
class Fourcal:
  def setdata(self, first, second):
    self.first = second
    self.second = first

a = Fourcal()
print(a.setdata(1,2))
print(a.first)

None
2

In [59]:
class FourCal:
  def setdata(self, first, second):
    self.first = first
    self.second = second
  def add(self):
    result = self.first + self.second
    return result

a = FourCal()
a.setdata(4,2)
print(a.add())

6

In [71]:
class FourCal:
...     def __init__(self, first, second):
...         self.first = first
...         self.second = second
...     def setdata(self, first, second):
...         self.first = first
...         self.second = second
...     def add(self):
...         result = self.first + self.second
...         return result
...     def mul(self):
...         result = self.first * self.second
...         return result
...     def sub(self):
...         result = self.first - self.second
...         return result
...     def div(self):
...         result = self.first / self.second
...         return result


class MoreFourCal(FourCal):
...     def pow(self):
...         result = self.first ** self.second
...         return result

a=MoreFourCal(4,2)
a.add()

class SafeFourCal(FourCal):
...     def div(self):
...         if self.second == 0:  # 나누는 값이 0인 경우 0을 리턴하도록 수정
...             return 0
...         else:
...             return self.first / self.second

a=SafeFourCal(4,0)
a.div()

0

In [2]:
b = [1,2,3]
def vartest2(b):
  b = b.append(4)

vartest2(b)
print(b) 

#지역변수와 전역변수 개념을 기억하자.

[1, 2, 3, 4]

In [3]:
#점프투파이썬 연습문제 3장

#1.다음 코드의 결괏값은 무엇일까? , shirt? ,
a = "Life is too short, you need python"

if "wife" in a: print("wife")
elif "python" in a and "you" not in a: print("python")
elif "shirt" not in a: print("shirt")
elif "need" in a: print("need")
else: print("none")

shirt

In [20]:
#2.while문을 사용해 1부터 1000까지의 자연수 중 3의 배수의 합을 구해 보자.

a = 0
i = 1
while i <= 1000:
  if i%3==0:
    a = a + i   #a += i
  i = i + 1     #i += 1
print(a)

166833

In [29]:
#3.while문을 사용하여 다음과 같이 별(*)을 표시하는 프로그램을 작성해 보자.
#*
#**
#***
#****
#*****

a = '*'
i = 1
while i <=5:
  print(a * i)
  i = i + 1


#풀이는 이렇게
p = 0
while True:
  p += 1
  if p > 5: break
  print('*' * p)

*
**
***
****
*****
*
**
***
****
*****

In [33]:
#4.for문을 사용해 1부터 100까지의 숫자를 출력해 보자.

for i in range (1,101):
  print (i, end = " ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [36]:
#5.A 학급에 총 10명의 학생이 있다. 이 학생들의 중간고사 점수는 다음과 같다.
#[70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
#for문을 사용하여 A 학급의 평균 점수를 구해 보자.

mark = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
total=0
for i in mark:
  total= total + i
print(total/10)  # 풀이에서는
average = total / len(mark)
print(average)

79.0
79.0

In [38]:
numbers = [1, 2, 3, 4, 5]

result = []
for n in numbers:
    if n % 2 == 1:
        result.append(n*2)
result

[2, 6, 10]

In [40]:
numbers = [1,2,3,4,5]
result = [n*2 for n in numbers if n%2==1]