<a href="https://colab.research.google.com/github/PJHSE/Learning/blob/main/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

조건문, 반복문

if, ~하면 ~한다. 

들여쓰기 중요. 문법. If 뒤에 식은 결국 boolean 자료형

or(|) 둘 중에 하나 true -> true 둘다 false -> false

and 둘 다 true -> true.

In [8]:
money = True
budget = False
if 0:
  print("택시를 타고 가자.")
else:
  print('걸어가자.')

걸어가자.

In [15]:
a = 3
b = 4
if a == b & a < b:
  print('참')
if a != b:
  print('참참')
else:
  print('참이면서 거짓')

참참

In [17]:
if 0:
  pass
else:
  print('pass의 사용법')

pass의 사용법

In [28]:
Mike = ['card', 'money', 'id card', 'elders']
if 'driver license' in Mike:
  print('할인 입장이 가능')
elif 'elders' in Mike:
  print('무료 입장이 가능')
else:
  print('입장 불가')

무료 입장이 가능

In [30]:
score = 70
if score >= 60:
  message = "success"
else:
  message = "Failure"

print(message)

success

In [32]:
#위에 걸 이렇게 바꿔볼 수 있다.
#조건부표현식, 성공일 때 조건을 먼저 써주고, 조건식을 써준다.

message = "success" if score >= 60 else "failure"

print(message)

success

반복문

while문 
기본구조

<조건문>:           (불자료형)
 <수행할 문장 1>
 <수행할 문장 2>
 <수행할 문장 3>
 ...

In [36]:
Mountofwater = 0
while Mountofwater < 20:
  Mountofwater = Mountofwater + 2
  print('물을 2리터 마셨습니다')
  if Mountofwater == 20:
    print('더이상 마실 수 없습니다.')

물을 2리터 마셨습니다
물을 2리터 마셨습니다
물을 2리터 마셨습니다
물을 2리터 마셨습니다
물을 2리터 마셨습니다
물을 2리터 마셨습니다
물을 2리터 마셨습니다
물을 2리터 마셨습니다
물을 2리터 마셨습니다
물을 2리터 마셨습니다
더이상 마실 수 없습니다.

In [44]:
coffee = 10
money = 300
while money:
  print('계산이 되었으니 커피를 드립니다')
  coffee = coffee -1
  print("커피의 남은 양은 %d개 입니다." %coffee)
  if not coffee:
    print('커피 매진입니다')
    break

계산이 되었으니 커피를 드립니다
커피의 남은 양은 9개 입니다.
계산이 되었으니 커피를 드립니다
커피의 남은 양은 8개 입니다.
계산이 되었으니 커피를 드립니다
커피의 남은 양은 7개 입니다.
계산이 되었으니 커피를 드립니다
커피의 남은 양은 6개 입니다.
계산이 되었으니 커피를 드립니다
커피의 남은 양은 5개 입니다.
계산이 되었으니 커피를 드립니다
커피의 남은 양은 4개 입니다.
계산이 되었으니 커피를 드립니다
커피의 남은 양은 3개 입니다.
계산이 되었으니 커피를 드립니다
커피의 남은 양은 2개 입니다.
계산이 되었으니 커피를 드립니다
커피의 남은 양은 1개 입니다.
계산이 되었으니 커피를 드립니다
커피의 남은 양은 0개 입니다.
커피 매진입니다

In [48]:
a = 0
while a < 10:
  a = a+1 
  if a % 2 == 0:
    continue
  print(a)

1
3
5
7
9

for문

기본 구조

for 변수 in 리스트(또는 튜플, 문자열):
  수행할 문장 1
  수행할 문장 2
  ...

In [49]:
test_list = ['one', 'two', 'three']
for i in test_list:
  print(i)

one
two
three

In [62]:
a = [(1,2), (3,4), (5,6)]
for (b,c) in a:
  if b+c <= 3:
    continue
  else: print(b,c)

3 4
5 6

In [75]:
#60점이 넘으면 합격이고, 그렇지 않으면 불합격
mark = [90, 73, 60, 59, 23, 73]

number = 0
for i in mark:
  number = number + 1
  if i >= 60:
    print('%s번 학생은 합격입니다.' %number)
  else:
    print('%s번 학생은 불합격입니다.' %number)

1번 학생은 합격입니다.
2번 학생은 합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 불합격입니다.
6번 학생은 합격입니다.

In [79]:
sum = 0
for i in range (1, 11):
  sum = sum + i
print(sum)

55

In [89]:
for i in range (2,10):
  for j in range (1,10):
    print (i*j, end=", ")
  print('')

2, 4, 6, 8, 10, 12, 14, 16, 18,
3, 6, 9, 12, 15, 18, 21, 24, 27,
4, 8, 12, 16, 20, 24, 28, 32, 36,
5, 10, 15, 20, 25, 30, 35, 40, 45,
6, 12, 18, 24, 30, 36, 42, 48, 54,
7, 14, 21, 28, 35, 42, 49, 56, 63,
8, 16, 24, 32, 40, 48, 56, 64, 72,
9, 18, 27, 36, 45, 54, 63, 72, 81,

In [90]:
result = [num*3 for num in a]
print(result)

[(1, 2, 1, 2, 1, 2), (3, 4, 3, 4, 3, 4), (5, 6, 5, 6, 5, 6)]

In [99]:
result = []
for x in range (2,10):
  for y in range (1,10):
    result.append(x*y)

print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [103]:
result = [x*y for x in range(2,10) for y in range(1,10)]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [107]:
score = [25, 35, 18, 40, 60, 80 ]
number = 0
for i in score:
  number = number + 1
  if i < 60:
    continue
 # else:
 #   print('%d번 학생 첫번 째 합격생입니다.'%number)
  break
print('%d번 학생 첫번 째 합격생입니다.'%number)

5번 학생 첫번 째 합격생입니다.

함수

프로그래밍에서의 함수는 입력과 출력이 없을 수 있다.

파이썬에서의 함수 구조

def 함수명(매개변수)
  <수행할 문장1>
  <수행할 문장2>
  ...
  return


함수는 정의만으로 실행되지 않고 호출해야만.

In [108]:
def sum(a,b):
  result = a + b
  return result

sum(3,6)

9

In [109]:
def say():
  return 'hi'

say()

#요렇게 입력이 없을 수 있다.

'hi'

In [110]:
def sum(a,b):
  print('%d, %d의 합은 %d입니다.' %(a, b, a+b))

#여기서 보면 return이 없음 ! 결과값이 없는 것. 출력값이 없는 것.

In [113]:
sum(3,4)

3, 4의 합은 7입니다.

In [115]:
def sum_many(*args):
  sum=0
  for i in args:
    sum = sum + i
  return sum

print(sum_many(1,2,3))

6

In [8]:
def print_kwargs(**kwargs):
  for k in kwargs.keys():
    if(k=="name"):
      print('당신의 이름은 :' + k)

print(print_kwargs(a="1", b="2"))

None

In [9]:
def character(a,b):
  return a+b, a*b, a%b

In [11]:
character(4,2)[0]

#함수의 결과값은 하나이다. 튜플 하나가 나온 것.
#선택해서 뽑을 수도 있다.

6

In [23]:
def say_myself(name, old, man=True):
  print("나의 이름은 %s입니다."% name)
  print("나는 %d살입니다."% old)
  if man:
    print('나는 남자입니다.')
  else:
    print('나는 여자입니다.')
say_myself('박정현', 24)   #함수 정의하며 매개변수를 정해버려서 이렇게 뺄 수도 있다.

나의 이름은 박정현입니다.
나는 24살입니다.
나는 남자입니다.

In [30]:
#함수 안에서 선언된 변수의 효력 범위
#함수 안에서 쓰인 변수는 함수 안에서만
a=1
def vartest(a):
  a = a + 1
  return a
a=vartest(a)
a

2

In [36]:
a=1
def vartest():
  global a
  a = a+1
vartest()

print(a)

2

In [37]:
myfirstfuction = lambda a,b: a*b*b**b
#람다로 파이썬에서의 함수 축약 가능.

In [39]:
myfirstfuction(2,3)

162

In [41]:
myList = [lambda a,b:a%b, lambda a,b:a*b]

myList[1](3,4)

12

In [44]:
a = input("숫자를 입력하세요: ")

숫자를 입력하세요: 123

In [45]:
print(a)

123