<a href="https://colab.research.google.com/github/PJHSE/Learning/blob/main/20220222.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

With Pyhton
..

In [1]:
#basic
1+1

2

In [2]:
3/2.4

1.25

숫자, 문자열, 불(참, 거짓) 이런 자료의 타입이 있고,

변수 리스트, 튜플, 딕셔너리, 집합 등 어떤 값을 담는 자료구조가 있다.

오른쪽에 있는 값을 왼쪽 상자에 넣는다.

In [ ]:
#자료형, 언어의 핵심
#'1' + '1' = 2? '11'? 컴퓨터가 어떻게 구분하느냐!

숫자형

- 정수형(int), 실수형(float), 컴퓨터식 지수(float), 8진수, 16진수

- 사칙연산 ( + - * / ) (// 하면 몫이 나옴) ( % 나머지) ( ** 제곱)

In [ ]:
a = 1

문자열 자료형

- " " , ' ' , """ """ , ''' '''

- 다 똑같은데, 문자열 자료형 안에서 따옴표들을 구분하기 위해서.

- \' 이렇게 쓸 수도 있음(백슬래시) 

- \n 을 넣으면 줄을 바꿀 수 있음.

- \t 탭 간격을 줄 수 있음.

- \\ 백슬래시 ㅅ용

- ''', """ 이렇게 쓰면 알아서 줄 나누기 가능

In [5]:
print("He said, 'the only thing that i could do was..\' \n and smiled.")
print('-'*10)
print(""" what
did
you
do""")

He said, 'the only thing that i could do was..'
 and smiled.
----------
 what
did
you
do

인덱싱(indexing) - 그냥 쉽게 생각해서 뽑아내기 정도

근데 파이썬에서는 첫 번째가 0번 째라는 것.

-1? 맨 뒤에 것.

슬라이싱(slicing) - 인덱싱을 좀 길게..

a[이상 : 미만 : 간격]

In [9]:
a = '20220222sunny'

print(a[4::4])

0sy

formatting 

- %d는 정수, %f는 실수 , %s 는 문자열, %c 는 문자 1개(character) , %%는 %

In [31]:
a = "I eat %d apples." %3
b = "i eat " + str(3) +" apples."
b

c = "From now i will call you %c" %'a'
c

'From now i will call you a'

In [28]:
number = '10'
day = "three"
# %d는 숫자 받아야 되는데, %s는 자유로운 건가? 
a = "i ate %s apples, so i was sick for %s days" %(number, day)
a

'i ate 10 apples, so i was sick for three days'

In [35]:
a =" {age} {name} 고객님, 입장하십시오. ".format(name='박정현', age='24살')
a

' 24살 박정현 고객님, 입장하십시오. '

In [37]:
#최신 파이썬 활용에서는
name='mike'
a = f"나의 이름은 {name}입니다"
a

'나의 이름은 mike입니다'

정렬과 공백

- %10s 이렇게 하면 공백 10칸.

- %-10s 이렇게 하면 오른쪽으로 공백 10칸

- %0.4f 소수점 4자리까지만 0간격으로 (이건 해보면서 익혀야 할 듯)

In [44]:
a = "%10s" %"hi"
b = "%-10s" %'hi'
c = "%5.4f" %3.215135314  #소수점 앞의 숫자 의미가 뭐지?

print (a)
print( b)
c

        hi
hi

'3.2151'

In [50]:
a = 'hobby'
print(a.count('b'))
print(a.find('b')) #첫번 째 index, 없으면 -1

b= '12'.join('abcd')
b

2
2

'a12b12c12d'

문자열 바꾸는 replace

잘라서 list로 바꾸는 split ('?' 이걸 기준으로, 비우면 띄어쓰기 기준으로)

In [55]:
a = "life is too short"
print(a.replace("life", "your Height"))
print(a.split('i'))

your Height is too short
['l', 'fe ', 's too short']

그럼 list, list는 왜 쓰는거냐? 

변수가 상자라고 했는데, 이게 여러개로 늘어나면 관리하기 힘듬.

이 상자들을 묶어 버리는 것. list - 변수 여러개를 묶는다.

list로 빈값, 숫자, 문자, 숫자+문자, 리스트 안의 리스트 도 됨.

In [72]:
#예를 들어서
a = '1'
b = '2'
c = '4'
d = '6'

#이렇게 있는 것을 

e = ['1', '2', '4', '6']

#묶어서 하나로 관리

print (e)

f = [ 1, 2, [2, 3]]

print(f[2][0])

['1', '2', '4', '6']
2

list 함수 

- append

- sort

- reverse 

- index

- insert(append는 맨 뒤에, 얘는 특정 위치에) 

- remove(값 지우기)

- pop (출력하고 list도 가져오기)

- count

- extend (뒤에 list 붙이기)

점프투 파이썬 연습문제

In [87]:
print(80/3+75/3+55/3)


#자연수 13이 홀수인지 짝수인지 판별할 수 있는 방법에 대해 말해 보자.

print(1%2)

#홍길동 씨의 주민등록번호는 881120-1068234이다. 홍길동 씨의 주민등록번호를 연월일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.

a = '8811201068234'

print(a[0:6])
print(a[6:])

#주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 주민등록번호에서 성별을 나타내는 숫자를 출력해 보자.

b = "881120-1068234"

print(b[7])

#다음과 같은 문자열 a:b:c:d가 있다. 문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔서 출력해 보자.

a = "a:b:c:d"

print(a.replace(":","#"))

#[1, 3, 5, 4, 2] 리스트를 [5, 4, 3, 2, 1]로 만들어 보자.

a = [1,3,5,4,2]

print

70.0
1
881120
1068234
1
a#b#c#d

In [88]:
#홍길동 씨의 주민등록번호는 881120-1068234이다. 홍길동 씨의 주민등록번호를 연월일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.

a = '8811201068234'

print(a[0:6])
print(a[6:])

pin = "881120-1068234"
yymmdd = pin[:6]
num = pin[7:]
print(yymmdd)
print(num)

881120
1068234
881120
1068234

In [93]:
#자연수 13이 홀수인지 짝수인지 판별할 수 있는 방법에 대해 말해 보자.

1%2

2%2

3%2

4%2

13%2   #나머지 연산자로 판단

1

In [95]:
#다음과 같은 문자열 a:b:c:d가 있다. 문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔서 출력해 보자.

a = "a:b:c:d"

print(a.replace(":","#"))

b = a.replace(":", "#")
print(b)

a#b#c#d
a#b#c#d

In [99]:
#[1, 3, 5, 4, 2] 리스트를 [5, 4, 3, 2, 1]로 만들어 보자.

a = [1,3,5,4,2]

a.sort()
a.reverse()
print(a)

[5, 4, 3, 2, 1]

In [102]:
#['Life', 'is', 'too', 'short'] 라는 리스트를 Life is too short라는 문자열로 만들어 출력해 보자.

a = ['Life', 'is', 'too', 'short']

b = ' '.join(a)

print(b)

Life is too short

List vs tuple

리스트는 변경 가능, 튜플은 변경 불가능 

튜플은 길이도, 값도 고정되어 있다.

인덱싱, 슬라이싱은 됨.

In [111]:
t1 = (1, 2, 'a' , 'b')
t2 = (1, 2)
t1[0:]

print(t1[3:4])

print(t1 + t2)

('b',)
(1, 2, 'a', 'b', 1, 2)

dict(딕셔너리) - 단어를 키로 해서 뜻이 있는 자료구조

리스트의 값들에 새로운 의미가 하나씩 더 해진 것으로 볼 수 있나? 

dic = {'name' : 'pey, 'phone' : '0103423411' , 'birth' : '1118'}

In [114]:
dic = {'name' : 'Eric', 'age' : 15}
print(dic['name'])

Eric

In [120]:
#딕트에 추가하기
a = { 1: 'a'}
a['이렇게 추가한다'] = "알겠냐"

print(a)

del a[1]

print(a)

{1: 'a', '이렇게 추가한다': '알겠냐'}
{'이렇게 추가한다': '알겠냐'}

In [151]:
#아마 이렇게 이해하는 것이 제일 쉬울득 딕트에서는

grade = {'mike' : 10, 'juliana' : 99 , 'Kim' : 85}

grade['mike']
grade['juliana']

print(grade.keys())  #학생들 이름, key들 뽑기
print(grade.values()) #학생들 성적, value들 뽑기
print(grade.items()) #각각 짝들 뽑기

#for f in grade.keys():
  #print(f)
  #print(f*2)

#for f in grade.items():
  #print(f)

#활용을 해보자
print('-'*20)

for f, k in grade.items():
  print("이름: " + f)
  print("성적: " + str(k))      #str(k)의 의미를 정확히 알고 넘어가야 할 듯 

#grade.clear()
#print(grade)

print('99' in grade)

dict_keys(['mike', 'juliana', 'Kim'])
dict_values([10, 99, 85])
dict_items([('mike', 10), ('juliana', 99), ('Kim', 85)])
--------------------
이름: mike
성적: 10
이름: juliana
성적: 99
이름: Kim
성적: 85
False

집합 자료형, 중요한 것은 집합이니 중복된 것이 있을 수 없다.

가령 [1, 2, 2, 2, 2, 2] 이건 list니깐 가능하지만 집합에서는 불가능.

또한 순서가 없음.

In [163]:
#s1 = set([1,2,3])
s1 = {1,2,3}         #정의하는 두 가지 방법
type(s1)

L = [1, 1, 1, 2, 2, 2, 3, 3, 3, 3, 3, 3,4]
type(L)

b = newList = list(set(L))

print(b)

a = 'HellO'

c = list(set(a))

print(c)

c.sort()

print(c)

[1, 2, 3, 4]
['l', 'O', 'e', 'H']
['H', 'O', 'e', 'l']

In [190]:
s1 = set([1,2,3,4,5,6])
s2 = set([3,4,5,6,7])
print(s1 & s2)    #교집합 찾기
print(s1.intersection(s2))
print(s1 | s2)    #합집합
print(s1.union(s2))
print(s1 - s2)    #차집합
print(s2 - s1)

{3, 4, 5, 6}
{3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
{1, 2}
{7}

In [191]:
print(s1)
s1.add(8)
s1.update([9,0,2])
print(s1)
s1.remove(1)  
s1

{1, 2, 3, 4, 5, 6}
{0, 1, 2, 3, 4, 5, 6, 8, 9}

{0, 2, 3, 4, 5, 6, 8, 9}

불 자료형(boolean)

참 거짓.

근데 파이썬에서는 "ㅁㅇㅁㄴㅇ" 이거 참, " " 거짓으로 봄. [1, 2, 3] 이거 참, [ ] 거짓. () 거짓, {} 거짓, 1 참, 0 거짓, none 거짓.

In [195]:
a = True
type(a)

bool

In [201]:
a = "예시는 이걸로 해보자"
if a:
  print(a)         #True로 본 거다..


b = [1, 2, 3, 4]

while b:
  b.pop()
  print(b)

예시는 이걸로 해보자
[1, 2, 3]
[1, 2]
[1]
[]

In [204]:
a = [1, 2, 3]
b = a[:]
a[1] = 4
print(a)
print(b)
print(id(a))
print(id(b))               #요기 의미를 이해할 수 있어야 함.

[1, 4, 3]
[1, 2, 3]
139894719966336
139894719964656

In [206]:
from copy import copy
a = [1,2,3]
b = copy(a)

In [207]:
print(id(a))
print(id(b))

139894719526704
139894720670688

In [208]:
a = 3
b = 5
tmp = b
b = a
a = tmp 
print(a)
print(b)              #이게 일반적으로 다른 언어에서 바꾸는 방법

5
3

In [210]:
a = 3
b = 5
a , b = b , a
print(a)
print(b)

5
3

In [212]:
#[1, 3, 5, 4, 2] 리스트를 [5, 4, 3, 2, 1]로 만들어 보자

a = [1, 3, 5, 4, 2]

a.sort()
a.reverse()
print(a)

[5, 4, 3, 2, 1]

In [237]:
#(1,2,3) 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 출력해 보자.

a = (1, 2, 3)
type(a)
b = (4,)
type(b)

a + b

(1, 2, 3, 4)

In [219]:
#다음과 같은 딕셔너리 a가 있다.
#>>> a = dict()
#>>> a
#{}
#다음 중 오류가 발생하는 경우를 고르고, 그 이유를 설명해 보자.

#a['name'] = 'python'  문자열인 key
#a[('a',)] = 'python'  튜플인 key
#a[[1]] = 'python'      list인 key x
#a[250] = 'python'      숫자인 key

In [240]:
#딕셔너리 a에서 'B'에 해당되는 값을 추출해 보자.

a = {'A':90, 'B':80, 'C':70}

print(a.pop('B'))

print(a)

80
{'A': 90, 'C': 70}

In [242]:
#a 리스트에서 중복 숫자를 제거해 보자.
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]

s1=set(a)
b= list(s1)   #이 과정을 거쳐야 집합에서 다시 리스트로 바뀜.
b

[1, 2, 3, 4, 5]